body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("img/kitty.gif");
  background-size: 30%;
  background-attachment: fixed;
  background-repeat: repeat;
}

#header {
  position: absolute;
  top: 0;
  width: 98%;
  text-align: right;
}

#download {
  padding: 10px;
  color: white;
}

#download-ico {
  visibility: hidden;
}

#cats, #apples-newest-emoji {
  float: left;
}

#buttonpress, #shop {
  vertical-align: middle;
  background-color: yellow;
  margin-left: 900px;
}

#banners, #puter {
  clear: both;
  display: block;
  position: relative;
}

.internet-explorer-animated {
  animation: rotation 4s infinite linear;
}

.internet-explorer-animated:hover, #art {
  animation: inverse-rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes inverse-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.buyable-cat {
  visibility: hidden;
}

figure {
  background-color: #ffffff;
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: #ffffff;
  padding: 3px;
  text-align: center;
}

#canny {
  position: relative;
}

#uncanny {
  position: absolute;
  left: 0px;
  opacity: 1;
}

#skull {
  position: absolute;
  left: 250px;
  visibility: hidden;
}

#coolest-kitty-in-town {
  position: absolute;
  left: 500px;
  width: 0px;
}

#luigi-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

#deltarune {
  visibility: hidden;
  position: fixed;
  z-index: -1;
  top: 40%;
  left: 60%;
}

#secret {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  z-index: 1000;

  background-color: #000000;
}
