body {
  background-size: 30%;
  background-image: url("https://media.tenor.com/GoNQ5sLCtiAAAAAC/mauzimice-mauzymice.gif");
  background-attachment: fixed;
  background-blend-mode: hue;
  background-color: rgba(255, 255, 255, 0.75);
}

#download {
  padding: 10px;
  color: white;
}

#download-ico {
  visibility: hidden;
}

#cats, #apples-newest-emoji {
  float: left;
}

#buttonpress, #shop {
  vertical-align: middle;
  background-color: yellow;
  margin-left: 900px;
}

#banners {
  clear: both;
  display: block;
  position: relative;
}

.internet-explorer-animated {
  animation: rotation 4s infinite linear;
}

.internet-explorer-animated:hover, #art {
  animation: inverse-rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes inverse-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.buyable-cat {
  visibility: hidden;
}
